.VideoCart{
    width: 32vmax;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    cursor: pointer;
    margin:0.3vmax;
    align-items:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.VideoCart a{
  padding:2vmax;
  background-color: rgba(255,255,255,0.096);
  border: none;
  border-radius:100%;

}
.VideoCart p{
  padding:2vmax;
  margin: 1vmax;
  color:whitesmoke;
}
.VideoCart:hover a{
  padding:2vmax;
  background-color:black;
  border: none;
  border-radius:100%;
  color: white;
}
.VideoCart a svg{
  fill:yellow;
}
